.headerAwal {
  text-align: center;
}

.section-content {
  background-color: lightseagreen;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 2px;
}

.section-content > h2 {
  margin: 0;
}

#pindah-keliling {
  width: 100%;
  border: 2px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: bolder;
  color: blue;
}

.formula-img {
  width: 30%;
  text-align: center;
}

input {
  width: 98%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: beige;
  font-family: math;
  padding: 4px;
}

#button-hitung {
  color: white;
  background: dodgerblue;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
}

#button-bersihkan {
  color: white;
  background: red;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
}

#segitiga {
  border: 2px solid black;
}

#keliling {
  border: 2px solid black;
}